# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# NestJS / TypeScript Build Output
dist/
build/
*.tsbuildinfo

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.lock
build/
frontend/build/
.pub-cache/
.pub/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Docker
.docker/
